/* written by bobbychicano */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
  font-family: arial, sans-serif;
}

.homepage {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.search-bar {
  margin: 20px 0px;
}

.search-bar input {
  width: 480px;
  height: 44px;
  line-height: 34px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  background: #fff;
  padding: 0px 16px 0px 22px;
}

.search-bar input:focus {
  box-shadow: none;
  text-decoration: none;
  outline: none;
}

.search-buttons {
  margin: 9px 0px 20px 0px;
}

.search-buttons button {
  margin: 0px 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #5F6368;
  line-height: 27px;
  height: 36px;
  cursor: pointer;
  font-family: arial, sans-serif;
}

.extra a {
  text-decoration: none;
  color: #1a0dab;
  font-family: arial, sans-serif;
  font-size: small;
}

.extra a:hover {
  text-decoration: underline;
}
