/* written by bobbychicano */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #000;
  opacity: 0.75;
  margin: 20px 20px 0px 20px;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}

.left {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.right {
  width: 120px;
  display: flex;
  justify-content: space-around;
}

.homepage {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.search-bar {
  margin: 20px 0px;
}

.search-bar input {
  width: 480px;
  height: 44px;
  line-height: 34px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  background: #fff;
  padding: 0px 16px 0px 22px;
}

.search-bar input:focus {
  box-shadow: none;
  text-decoration: none;
  outline: none;
}

.search-buttons {
  margin: 9px 0px 20px 0px;
}

.search-buttons button {
  margin: 0px 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #5F6368;
  line-height: 27px;
  height: 36px;
  cursor: pointer;
  font-family: arial, sans-serif;
}

.search-buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #c6c6c6;
}

.extra a {
  text-decoration: none;
  color: #1a0dab;
  font-family: arial, sans-serif;
  font-size: small;
}

.extra a:hover {
  text-decoration: underline;
}

footer {
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #000;
  opacity: 0.75;
}

.left-2 {
  display: flex;
  margin: 10px 0px 0px 20px;
  justify-content: space-between;
  width: 280px;
}

.right-2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 0px 0px;
  width: 170px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  text-decoration: underline;
}
